// Font family [main]
$font-family-main: 'Poppins', 'Noto Sans JP', 'Helvetica', 'Helvetica Neue', 'Arial', 'Segoe UI', '-apple-system', 'BlinkMacSystemFont', 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'Meiryo', sans-serif;

// Font family [JP]
$font-family-jpselif: 'Noto Serif JP', 'Helvetica Neue', 'Helvetica', 'Arial', serif;


// Font color [main]
$font-color-main: #212121;

// Font color [sub]
$font-color-red: #c9171e;

// Font color [white]
$font-color-white: #fff;

// Font color [light gray]
$font-color-lightGray: #eee;

// Breakpoint
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;
