// Font family [main]
$font-family-main: 'Poppins', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

// Font color [main]
$font-color-main: #212121;

// Font color [sub]
$font-color-sub: #d50842;

// Font color [white]
$font-color-white: #fff;

// Breakpoint
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;
