

.wrapper_layout_top {
  background: $color-main;
  height: 100%;
  width: 100%;
}

.wrapper_layout_top__inner {
  margin: auto;
  width: 80%;

  @include respond-to('medium') {
    width: 40%;
  }

  @include respond-to('large') {
    width: auto;
  }
}

.upper-wrapper {
  background: $color-white;
  display: flex;
  height: 87vh;
  min-height: 540px;
  overflow: hidden;
  position: relative;

  &::before {
    animation: scrollDeco 2s ease-in-out 2.5s infinite;
    background: $color-main;
    bottom: 0;
    content: '';
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    width: 1px;
  }

  &__inner {
    margin: auto;
    padding: 4em 0;

  }
}

.deco {
  display: inline-block;
  margin: auto;
}

.deco__item {
  @include fz_vw(110);

  display: block;
  font-family: $font-family-jpselif;
  line-height: 1;
  margin-left: -0.02em;
  position: relative;

  @include hRespond-to() {
    @include fz_vw(80);
  }

  @include respond-to('medium') {
    font-size: 20vw;
  }

  @include respond-to('large') {
    font-size: 12em;
  }

  &::before {
    animation: slideInRight 1s ease-in 1.5s 1 forwards;
    background: $color-red;
    border-radius: 50%;
    bottom: -0.06em;
    content: '';
    height: 1.15em;
    left: -0.4em;
    margin: auto;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 1.15em;
    z-index: -1;
  }

}

.jpjs {
  @include fz_vw(24);

  font-weight: 600;
  line-height: 1.2;
  margin: 1em 0;


  @include respond-to('medium') {
    font-size: 3.4vw;

  }

  @include respond-to('large') {
    font-size: 2.2em;

  }
}

.copy {
  @include fz_vw(14);

  font-weight: 600;
  letter-spacing: 0.1em;
  position: relative;

  @include respond-to('medium') {
    font-size: 1.7vw;
  }

  @include respond-to('large') {
    font-size: 1em;
  }
}

.bottom-wrapper {
  background: $color-main;
}

.pagelinks-wrapper {
  display: inline-block;
  margin: 6em auto;

}

.pagelinks-wrapper__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pagelink {
  border-bottom: 1px solid $color-white;
  color: $color-white;
  font-size: 1em;
  // margin: auto auto auto 0;
  padding-bottom: 0;
  transition: padding-bottom 0.2s;

  @include on-event() {
    border-bottom: 2px solid $color-white;
    margin-bottom: -1px;
  }

}

.pagelink + .pagelink {
  margin-top: 3em;
}

.nihongo-motion {
  color: $color-lightGray;
  font-family: $font-family-jpselif;
  mix-blend-mode: multiply;
  position: absolute;
  z-index: -1;

  @for $i from 0 through 4 {
    &:nth-of-type(#{$i}){
      animation: circle 10s ease-in-out $i * 0.7s infinite;
    }
  }

  &:nth-of-type(1){
    font-size: 0.5em;
  }

  &:nth-of-type(2){
    font-size: 0.8em;
  }

  &:nth-of-type(3){
    font-size: 0.6em;
  }

  &:nth-of-type(4){
    font-size: 0.5em;
  }
}
