.wrapper {
  margin: auto;
  width: 80%;

  @include respond-to('medium') {
    width: 40%;
  }

  @include respond-to('large') {
    width: auto;
  }
}

.center-wrapper {
  margin: auto;

}

.deco {
  @include fz_vw(120);

  font-family: $font-family-jpselif;
  line-height: 1;
  margin-left: -0.02em;

  @include respond-to('medium') {
    font-size: 25vw;
  }

  @include respond-to('large') {
    font-size: 12em;
  }

  @include hRespond-to() {
    display: none;
  }
}

.title {
  @include fz_vw(20);

  font-weight: normal;
  margin-bottom: 1em;

  @include hRespond-to() {
    @include fz_vw(35);
  }

  @include respond-to('medium') {
    font-size: 4vw;

    @include hRespond-to() {
      font-size: 4.5vw;
    }
  }

  @include respond-to('large') {
    font-size: 2em;

    @include hRespond-to() {
      font-size: 2.5em;
    }
  }
}

.bottom-wrapper {
    // width: 100%;
}

.copy {
  @include fz_vw(15);

  font-weight: bold;
  letter-spacing: 0.1em;

  @include respond-to('medium') {
    font-size: 2vw;
  }

  @include respond-to('large') {
    font-size: 1em;
  }
}

.start-button {
  background: $font-color-main;
  color: $font-color-white;
  display: block;
  padding: 1em;

  @include respond-to('large') {
    font-size: 1em;
  }
}

