.wrapper {
  margin: auto;
  width: 80%;

  @include respond-to('medium') {
    width: 40%;
  }

  @include respond-to('large') {
    width: auto;
  }
}

.center-wrapper {
  margin: auto;
}

.deco {
  display: inline-block;
  margin: auto;
}

.deco__item {
  @include fz_vw(140);

  display: block;
  font-family: $font-family-jpselif;
  line-height: 1;
  margin-left: -0.02em;
  position: relative;

  @include respond-to('medium') {
    font-size: 20vw;
  }

  @include respond-to('large') {
    font-size: 12em;
  }

  @include hRespond-to() {
    display: none;
  }

  &::before {
    animation: slideInRight 1s ease-in 1.5s 1 forwards;
    background: $font-color-red;
    border-radius: 50%;
    bottom: -0.06em;
    content: '';
    height: 1.15em;
    left: -0.4em;
    margin: auto;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 1.15em;
    z-index: -1;
  }

}

.title {
  @include fz_vw(24);

  font-weight: 600;
  margin-bottom: 1em;
  opacity: 0;

  @include hRespond-to() {
    @include fz_vw(38);
  }

  @include respond-to('medium') {
    font-size: 3.2vw;

    @include hRespond-to() {
      font-size: 4.5vw;
    }
  }

  @include respond-to('large') {
    font-size: 2em;

    @include hRespond-to() {
      font-size: 2.5em;
    }
  }
}

.bottom-wrapper {
    // width: 100%;
}

.copy {
  @include fz_vw(15);

  font-weight: 600;
  letter-spacing: 0.1em;

  @include respond-to('medium') {
    font-size: 2vw;
  }

  @include respond-to('large') {
    font-size: 1em;
  }
}

.start-button {
  background: $font-color-main;
  border-radius: 4px;
  color: $font-color-white;
  display: block;
  letter-spacing: 0.05em;
  padding: 1em;

  @include respond-to('large') {
    font-size: 1em;
  }
}

.nihongo-motion {
  color: $font-color-lightGray;
  font-family: $font-family-jpselif;
  mix-blend-mode: multiply;
  opacity: 0;
  position: absolute;
  z-index: -1;

  @for $i from 0 through 4 {
    &:nth-of-type(#{$i}){
      animation: circle 10s ease-in-out $i * 0.7s infinite;
    }
  }

  &:nth-of-type(1){
    font-size: 0.5em;
  }

  &:nth-of-type(2){
    font-size: 0.8em;
  }

  &:nth-of-type(3){
    font-size: 0.6em;
  }

  &:nth-of-type(4){
    font-size: 0.5em;
  }
}
