.wrapper_layout_sub {
  width: 100%;
}

.header {
  padding: 2em 0 4em;
}

.logo {
  display: inline-block;
  font-size: 1em;
  line-height: 1.2;
  margin: 0;
  padding-bottom: 0.2em;
  position: relative;
  vertical-align: middle;


  &::before {
    background: $color-red;
    border-radius: 50%;
    bottom: 0.05em;
    content: '';
    height: 2.8em;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 2.8em;
    z-index: -1;
  }
}

.main {
  margin: 0 auto 4em;
  width: 90%;

  @include respond-to('medium') {
    width: 600px;
  }
}

.explain__title {
  margin: 0 0 0.5em;
}

.text {
  margin: 0;
}

.sub {
  margin-bottom: 2em;

  &__title {
    margin: 0 0 0.5em;
  }
}

.sub-s {
  margin-bottom: 2em;

  &__title {
    margin: 0 0 0.5em;
  }
}

.sound-block {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
  margin: 1em auto 4em;
}

.sound-button {
  border: 1px solid $color-main;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  padding: 0.6em 2.5em 0.6em 1.5em;
  position: relative;

  &::before {
    bottom: 0;
    content: '🔈';
    font-size: 0.8em;
    height: 1em;
    margin: auto;
    padding-bottom: 2em;
    position:absolute;
    right:1.5em;
    top:0;
    width: 1em;
  }
}

.page-nav {
  display: flex;
  justify-content: space-between;

  &__link {
    // border: 1px solid $color-main;
    // border-radius: 3em;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    line-height: 1;
    padding: 0.8em;
    transition: translatex 0.2s;
  }
}

.pre-link {
  transform: translateX(0);

  @include arrow($color-main, $color-white, left);

  @include on-event() {
    transform: translateX(-2px);
  }
}

.next-link {
  transform: translateX(0);

  @include arrow();

  &:not([href]) {
    color: $color-middleGray;

    @include arrow($color-middleGray, $color-white);

    @include on-event() {
      transform: translateX(2px);
    }
  }
}

.footer {
  background: $color-main;
  color: $color-white;
  padding: 4em 0 2em;

  &-nav {
    margin: 0 0 3.5em;
  }

  &-link {
    &__item {
      margin-bottom: 2em;
    }

    &__link {
      border-bottom: 1px solid $color-white;
      color: $color-white;

      @include on-event() {
        border-bottom: 2px solid $color-white;
        margin-bottom: -1px;
      }

    }
  }
}

.sound-thanks {
  color: $color-middleGray;
  display: block;
  font-size: 0.7em;
  margin-bottom: 4em;
}
