.wrapper_layout_sub {
  width: 90%;

  @include respond-to('medium') {
    width: 600px;
  }
}

.explain__title {
  margin: 0 0 0.5em;
}

.explain__text {
  margin: 0;
}

.next-link__item {
  border: 1px solid $color-main;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  line-height: 1;
  padding: 1em 4em;
  position: relative;

  &::before {
    background: $color-main;
    bottom: 0;
    content: '';
    height: 8px;
    margin: auto 0;
    position: absolute;
    right: 3em;
    top: 0;
    transform: rotate(45deg);
    width: 8px;
  }

  &::after {
    background: $color-white;
    bottom: 0;
    content: '';
    height: 8px;
    margin: auto 0;
    position: absolute;
    right: calc(3em + 4px);
    top: 0;
    transform: rotate(45deg);
    width: 8px;
  }
}
