// fade in
@keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}

.fade-in {
  animation: fadeIn 1s ease-in 0s 1 normal;
}

// slide-in to-upper
@keyframes slideInUpper {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-in-upper__0 {
  animation: slideInUpper 1s ease-in 0s 1 normal;
}

.slide-in-upper__1 {
  animation: slideInUpper 1s ease-in 0.5s 1 forwards;
}

// slide-in to-right
@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

// infinite circle
@keyframes circle {
  0% {
    opacity: 0;
    transform: rotate(0deg) translate(30px) rotate(0deg);
  }

  50% {
    opacity: 1;
    transform: rotate(360deg) translate(30px) rotate(-360deg);
  }

  100% {
    opacity: 0;
    transform: rotate(720deg) translate(30px) rotate(-720deg);
  }
}
