html,
body {
  width: 100%;
}

a {
  color: $color-main;
  text-decoration: none;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  appearance: none;
  background: $color-white;
  border: none;
}

#root {
  display: flex;
}

.wrapper {
  margin: auto;
}

.opacity_0 {
  opacity: 0;
}
